# dependencies
node_modules/
.pnp
.pnp.*

# next.js
landing/.next/
landing/out/

# plasmo / extension build
extension/.plasmo/
extension/build/

# misc
.DS_Store
*.pem
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
